<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="c-wrapper c-fixed-components">
            <div class="c-body">
                <main class="c-main">
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
