{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        td.positive {color: green;}
        td.negative {color: red;}
    </style>
{% endblock %}

{% block body %}
    <h1>File Processor</h1>

    <p>Submit your CSV file then the table will populate.</p>
    <p>If you submit a new file, existing stored data will be truncated.</p>

    <div id="the-form">
        {{ form_start(form) }}
        {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert">
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.products) }}
            {{ form_widget(form.products) }}
        </div>

        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>

    <hr>

    <div id="the-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>SKU</th>
                <th>Cost</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Profit</th>
                <th>ROI</th>
                <th>ROI (CAD)</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.sku }}</td>
                <td>{{ product.cost|format_currency('USD') }}</td>
                <td>{{ product.price|format_currency('USD') }}</td>
                <td class="{{ product.qty > 0 ? "positive" : "negative" }}">{{ product.qty }}</td>
                <td class="{{ product.profit > 0 ? "positive" : "negative" }}">{{ product.profit|format_currency('USD') }}</td>
                <td class="{{ product.roi > 0 ? "positive" : "negative" }}">{{ product.roi|format_currency('USD') }}</td>
                <td class="{{ product.roi > 0 ? "positive" : "negative" }}">{{ (product.roi * cad_ratio)|format_currency('USD') }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">No products found!</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Summary</th>
                <th>Avg Cost: {{ avg_cost|format_currency('USD') }}</th>
                <th>Avg Price: {{ avg_price|format_currency('USD') }}</th>
                <th>Total Qty: {{ total_qty }}</th>
                <th>Avg Profit: {{ average_profit_margin|format_currency('USD') }}</th>
                <th>Total Profit: {{ total_profit|format_currency('USD') }}</th>
                <th>Total Profit (CAD): {{ (total_profit * cad_ratio)|format_currency('USD') }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}